body{
    overflow-x: hidden;
}
.cont{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    transform: scale(1.28);
}
.txt{
    display: flex;
    justify-content: center;
    background-color: #0ac6ecf0;
    font-weight: bolder;
    margin-top: 5rem;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
}
.age{ 
    display: flex;
    justify-content: center;
    margin-top: -2.5rem;
    flex-direction: column;
    list-style-type: none;
    padding: 68px;
    flex-direction: row;
    border-radius: 25rem;
}
ul{
    display: flex;
    justify-content: center;
}
.txt2{
    display: flex;
    justify-content: center;
    background-color: #0ac6ecf0;
    font-weight: bolder;
    margin-top: -2rem;
    border-radius: 25px;
    margin-left: 2px;
    margin-right: 2px;
}
.fav{
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    flex-direction: column;
    list-style-type: none;
    padding:10px;
    flex-direction: row;
    border-radius: 25rem;
}
ul{
    display: flex;
    justify-content: center;
}