
*
{
    margin: 0;
}

.vis{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    font-weight: bold;
    color: aliceblue;
   background-color: rgb(74, 65, 73);
   display: flex
   
}
.left{
    width: 130%;
    margin-left: 20px;
    color: rgb(150, 99, 11);
}
.right{
    justify-content: center;
    width:23%;
    font-size: 25px;
    margin-top: 11px;
}
.right1{
    width:15%;
    font-size: 25px;
    margin-top: 11px;
}
.right2{
    width:15%;
    font-size: 25px;
    margin-top: 11px;
}
.right:hover,.right1:hover,.right2:hover{
    color: rgb(16, 87, 194);
    transition: 0.65s;
    cursor: pointer;
}
